blockquote {
  border-radius: 3px;
  margin-left: 0 !important;
  line-height: 26px;
  padding: 10px 20px !important;
  margin-bottom: 1rem !important;
}

blockquote,
blockquote.explain {
  background: #d5e7ff;
  color: #002da0 !important;
  border-left: #2684ff 6px solid !important;
}

blockquote.notice {
  border-left: #ff9c19 6px solid !important;
  background: #ffe8d5 !important;
  color: #a02800 !important;
}

blockquote code {
  background: transparent !important;
  border: none !important;
}

blockquote>p,
blockquote>p {
  margin: 6px 0 0 13px;
}