.markdown-body blockquote {
  border-radius: 3px;
  margin-left: 0;
  line-height: 26px;
  padding: 10px 20px;
  margin-bottom: 1rem;
}
.markdown-body blockquote, .markdown-body blockquote.explain {
  background: #d5e7ff;
  color: #002da0;
  border-left: #2684ff 6px solid;
}
.markdown-body blockquote.notice {
  border-left: #ff9c19 6px solid;
  background: #ffe8d5;
  color: #a02800;
}
.markdown-body blockquote code {
  background: transparent!important;
  border: none!important;
}
.markdown-body blockquote > p, .markdown-body blockquote > p {
  margin: 6px 0 0 13px;
}
.markdown-body blockquote.notice i {
  width: 18px;
  height: 18px;
  background: url(./svg/notice.svg);
  background-size: 100% 100%;
  margin-top: 4px;
  margin-right: 10px;
}
.markdown-body blockquote.notice .tips {
  color: #ff9c19;
  font-weight: 700;
}
.markdown-body blockquote.explain i {
  width:20px;
  height:20px;
  padding:0px 8px 0 0;
  background: url(./svg/explain.svg);
  background-size: 100% 100%;
  margin-top:2px;
}
.markdown-body blockquote.explain .tips {
  color: #00a4ff;
  font-weight: 700;
}